{{ extends 'global/Page.html' }}
{{ block title }}Rappel de votre Consentement{{ endblock }}

{{ block content }}<p><strong>Rappel – Fin de la première session</strong></p>


<p>Merci d’avoir participé à cette première session de l’expérience. Nous vous rappelons qu’il est impératif que vous reveniez à la deuxième session en rapportant la somme d’argent que vous avez gagnée aujourd’hui. Cette somme sera nécessaire pour la suite de l’expérience et influencera vos décisions lors de la prochaine session.</p>

<p>Veuillez noter que si vous ne respectez pas cet engagement, votre participation pourrait être invalidée et vous pourriez ne pas être éligible à une rémunération finale.</p>

<p>La date et l’heure de la deuxième session vous seront rappelées par email ou par un autre moyen de communication.</p>

<p>Nous vous remercions pour votre engagement et votre sérieux.</p>
<div class="text-center mt-4">
    <form method="post">
        <button id="next-button" type="submit" class="btn btn-primary">Suivant</button>
    </form>
</div>
{{ endblock }}