{% extends "global/Page.html" %}



{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h2>Merci pour votre participation !</h2>
        <p style="font-size: 18px; margin-top: 20px;">
            Veuillez rester assis jusqu'à ce que l'expérimentateur vous autorise à quitter votre place.
        </p>
        <p style="margin-top: 30px; font-style: italic;">
            Si vous avez des questions, n'hésitez pas à demander à l'expérimentateur.
        </p>
    </div>
{% endblock %}
